<header class="p-m-3">
    <h1>{{ title }}</h1>
    <p>This is a semantic search engine for your documents.</p>
  </header>
  
  <nav class="p-m-3">
    <!-- Use pButton with routerLink -->
    <button
      pButton
      label="Upload Dataset"
      class="p-button-rounded p-button-text p-mr-2"
      routerLink="/upload"
      routerLinkActive="p-button-outlined"
    ></button>
  
    <button
      pButton
      label="Semantic Search"
      class="p-button-rounded p-button-text"
      routerLink="/search"
      routerLinkActive="p-button-outlined"
    ></button>
  </nav>
  
  <!-- Child routes here -->
  <router-outlet></router-outlet>  